header{
	border-bottom: 2px #FFF solid;
}
.header{
	font-size: 45px;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px rgb(39,44,54);
	width: 90%;
	margin-bottom: 0;
	margin-top: 0;
}
.back{
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	display: block;
	float: left;
	padding-top: 30px;
	padding-left: 10px;
}
.back_gray{
	text-align: left;
	font-size: 14px;
	color: rgb(74,74,74);
	font-family: 'Roboto', sans-serif;
	display: block;
	float: left;
	padding-top: 30px;
	padding-left: 10px;
}
#photo_header{
	margin-bottom: 15px;
}
body{
	background-color: #C1FFE2;
	text-align: center;
	margin: 0;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 50px;
}
.hotels_site{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
}
.click_image{
	font-size: 14px;
	color: rgb(74,74,74);
	font-family: 'Roboto', sans-serif;
	margin-bottom: none;
}
#marriott,#hyatt{
	border: 8px #FFCAB6 solid;
}
p{
	margin-top: 5px;
}
footer{
	font-size: 12px;
	margin-bottom: 0px;
	padding: 10px;
}
#time_place_footer{
	color: #FFFFFF;
	margin-top: 700px;
}
#time_place{
	background: url(../images/time_place_background.jpg);
	max-height: 100%;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
}
#address{
	margin-top: 50px;
}
#schedule_of_events{
	list-style-type: none;
    font-size: 20px;
	font-family: sans-serif;
	font-weight: 300;
	margin-top: 100px;
	font-style: bold;
	background-color: rgba(193,255,226,.4);
	display: inline-block;
}
li{
	padding: 10px;
}
section{
	background-color: #FFCAB6;
    border: 1px white solid;
    padding: 20px;
}
section:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.left_pic {
    background-color: #F1A3A0;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 25%;
    margin-left: 50px;
}

.right_bio {
    background-color: #9CE7E4;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 50%;
    line-height: 1.5em;
    margin: 55px;
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: 16px;
}
.right_pic{
	background-color: #F1A3A0;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 25%;
    margin-right: 50px;
}
.left_bio{
	background-color: #9CE7E4;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 50%;
    line-height: 1.5em;
    margin: 55px;
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: 16px;
    margin-top: 100px;
}
#bridesmaids{
	font-family: 'Great Vibes', sans-serif;
	font-size: 45px;
}
#groomsmen{
    font-family: 'Great Vibes', sans-serif;
	font-size: 45px;
	padding: 50px;
}
span{
	font-family: 'Great Vibes', sans-serif;
	font-size: 40px;
	font-style: italic;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.left_pic{
		margin-left: 0;
	}
	.right_bio{
		margin: 0;
		margin-bottom: 0;
	}
	.left_bio{
		margin: 0;
		margin-bottom: 0;
		margin-top: 0;
	}
	.right_pic{
		margin-right: 0;
	}
}