header{
	font-size: 45px;
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-shadow: 2px 2px 2px rgb(39,44,54);
	border-bottom: 2px #FFF solid;
}
#photo_header{
	margin-bottom: 15px;
}
body{
	background-color: rgb(158,255,211);
	text-align: center;
	margin: 0;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 50px;
}
.hotels_site{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
}
.click_image{
	font-size: 14px;
	color: gray;
	font-family: 'Roboto', sans-serif;
	margin-bottom: none;
}
#marriott,#hyatt{
	border: 8px white solid;
}
p{
	margin-top: 5px;
}
footer{
	font-size: 12px;
	margin-bottom: 0px;
	padding: 10px;
}
#time_place_footer{
	color: #FFFFFF;
	margin-top: 700px;
}
#time_place{
	background: url(../images/time_place_background.jpg);
	max-height: 100%;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: block;
}
#address{
	margin-top: 50px;
}
#schedule_of_events{
	list-style-type: none;
    font-size: 20px;
	font-family: sans-serif;
	font-weight: 300;
	margin-top: 100px;
	font-style: bold;
	background-color: rgba(158,255,211,.4);
	display: inline-block;
}
li{
	padding: 10px;
}
section{
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
section:after{
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 25%;
}

.right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 50%;
    line-height: 1.5em;
    margin: 55px;
    margin-bottom: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: 16px;
}
.wedding_party_h1{
	font-family: 'Great Vibes', sans-serif;
	font-size: 45px;
}
span{
	font-family: 'Great Vibes', sans-serif;
	font-size: 40px;
	font-style: italic;
}