*{
	padding: 0;
	margin: 0;
}
body{
	background: url(../images/mainpage_pic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Great Vibes', georgia;
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h1{
	padding-top: 125px;
	font-size: 96px;
	margin-bottom: 5px;
	text-shadow: 1px 1px rgb(108,132,127);
}
hr{
	padding: 0;
	border: none;
	border-top: medium double;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
	text-align: center;
}
p{
	font-size: 64px;
	text-shadow: 1px 1px rgb(108,132,127);
}
nav{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 18px;
	font-family: 'Cabin', arial;
	margin-top: 0px;
}
a{
	color: rgb(39,44,54);
}
.dropdown{
	float: left;
	width: 20%;
	display: block;
	background-color: rgba(158,255,211,.9);
	position: relative;
}
footer{
	font-size: 12px;
	font-family: "Times New Roman";
	text-align: center;
	margin-top: 600px; 
	margin-bottom: 0px;
	padding: 10px;
}
.drop-nav{
	position: absolute;
	display: none;
	list-style-type: none;
	left: 0;
	top: 16px;
	width: 100%;
	background-color: rgba(158,255,211,.7);
	padding: 0;
	margin: 0;
}
.dropdown:hover > .drop-nav {
	display: block;
}
.drop-nav li{
	border-bottom: 1px solid black;
	text-decoration: none;
}
ul li a:hover {
	background-color: rgba(224,72,113,.5);
	cursor: pointer;
}