
body {
	background-image: url("../images/mainpage_pic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: aquamarine;
	text-align: center;
	font-family: "snell roundhand";
}
h1{
	font-size: 50px;
}
p{
	font-size: 30px;
}
hr{
	width: 400px;
	color: black;
}
footer {
width: 100%;
background: #336699;
float: left;
margin: 0 0 .5% 0;
border-radius: 10px;
box-shadow: 5px 5px 10px #202020
}

address {
font-family: times;
font-size : 16px; 
text-align : center; 
color: aquamarine;
padding: 1% 0;
text-shadow: 1px 1px 0px #202020
}